:root {
  --transision: 0.2s ease-in-out;
  --drop-shaddow: 0px 1px 5px rgb(124, 124, 128);
}

body {
  /* background-color: rgb(209, 209, 214); */
  background-color: white;
  font-family: roboto;
}

.title {
  font-style: italic;
}

.App {
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container {
  width: 50%;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 15px;
  background-color: rgb(242, 242, 247);  
  box-shadow: var(--drop-shaddow);
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: var(--transision);
}

.addItem {
  width: 100%;
  display: flex;
  gap: 15px;
  flex-direction: row;
  
  textarea {
    width: 100%;
    min-height: 50px;
    border-radius: 15px;
    padding-inline: 10px;
    padding-top: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    resize: vertical;
    font-family: roboto;
  }
  
  button {
    width: 100px;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    height: 50px;
    display: inline-block;
    align-items: center;
    box-sizing: border-box;
    transition: var(--transision);
    border: none;
    color: rgb(10, 132, 255);
    font-weight: bold;
    background-color: white;
  
    &:hover {
      cursor: pointer;
      background-color: rgb(209, 209, 209);
    }
  }
}

.todoListContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: var(--transision);
  
  .todo {
    display: flex;
    background-color: white;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 5px;
    padding-inline: 10px;
    transition: var(--transision);
    animation: zoomIn ease-in-out 0.2s;
    animation-fill-mode: forwards;

    p {
      width: 100%;
      text-align: left;
      word-wrap: break-word;
    }

    input {
      width: 100%;
      outline: none;
      border: none;
      border-radius: 15px;
      padding-inline: 10px;
      margin-left: -5px;
      box-sizing: content-box;
      font-size: 16px;
    }

    &:hover {
      background-color: rgb(209, 209, 209);
    }
  }

  .editing {
    background-color: rgb(209, 209, 209);
  }
  
  button {
    min-width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    margin: auto;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    transition: var(--transision);    
    
    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }

  .delete {
    color: rgb(255, 59, 48);
  }
}

@keyframes zoomIn {
  0% {transform: scale(0%);}
  100% {transform: scale(100%);}
}

@keyframes zoomOut {
  0% {transform: scale(100%);}
  100% {transform: scale(0%);}
}

